<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <link rel="shortcut icon" href="images/shakib.jpg" type="image/x-icon"> -->
   <!-- <link rel="stylesheet" href="style.css"> -->
   <title>contact</title>
</head>
<body>
    <h1><a href="/">Home</a></h1>
   <h1><a href="/navigation_app/about/">navigation_app / About</a></h1>
   <h1><a href="/navigation_app/contact/">navigation_app/ Contact</a></h1>
    
    <h1>This Is Contact Pages</h1>
</body>
</html>

