.banner_container {
    height: 80vh;
}

.banner_img {
    width: 200px;
    height: 550px;
}

.card_img_hw {
    height: 200px;
    width: 200px;
}

.ct_img {
    width: 420px;
    height: 420px;
} 
