{% extends "base.html" %}
{% block content %}
  
    <div class="card mt-3 bg-dark text-white" style="width: 70rem; margin:auto; border-radius: 10px;">
      {% if messages %}
      {% for m in messages %}
      <p class='text-info p-4'>{{m}}</p>
      <br>
      {% endfor %}
      {% endif %}
      <div class="card-body d-flex flex-wrap justify-content-evenly m-2">
      
        <img src="{{book.image.url}}" class="card-img-top text-align-center " style='width: 50%; margin:auto; border-radius: 10px;' alt="book image">
      
      <div>
        <h5 class="card-title">Title : {{book.title}}</h5>
        <br>
        <p class="card-text">Description : {{book.description}}</p>
        <p>price : {{book.price}}</p>
        <div class='d-flex flex-wrap'>
         {% for ca in book.category.all  %}
         Category -> <a class="btn btn-secondary btn-sm" type='button' disabled>{{ca}}</a>
          {% endfor %}
        </div>
        <br>
        <div class='d-flex flex-wrap'>
          {% if user.is_authenticated %}
          <a href="{% url 'borrow_book' book.id %}" class="btn btn-primary m-1 btn-md">borrow</a>
          
          {% endif %}
        </div>
      </div>
   </div>     
{% endblock content %}