{% extends "base.html" %}
{% load static %}

{% block content %}
{% for book in borrowed_books %}
<div class="card bg-dark text-white" style="width: 40rem; margin:auto; margin-top:10px; border-radius:10px;">
  {% if messages %}
  {% for m in messages %}
  <p class='text-success p-4'>{{m}}</p>
  <br>
  {% endfor %}
  {% endif %}

  <div class="card-body mt-4 d-flex flex-wrap">
    <img src="{{book.image.url}}" class="card-img-top text-align-center" style="width: 50%; margin: auto;"
      alt="book_img">
    <div>
      <h5 class="card-title">Title : {{book.book.title}}</h5>
      <br>
      <p class="card-text">Description : {{book.book.description}}</p>
      <p>price : {{book.book.price}}</p>
      <div class='d-flex flex-wrap'>
        {% for ca in book.book.category.all %}
        Category -> <a class="btn btn-secondary btn-sm" type='button' disabled>{{ca}}</a>
        {% endfor %}
      </div>
      <br>  
      <div class='d-flex flex-wrap'>
        {% if user.is_authenticated %}
        <a href="{% url 'return_book' book.book.id %}" class="btn btn-primary m-1 btn-md">return</a>
        {% endif %}
      </div>
    </div>
  </div>
  <hr style="border: 2px solid rgb(0, 255, 34);">
  {% endfor %}
  {% endblock content %}
